@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.STS.Identity.ViewModels.Manage.ChangePasswordViewModel
@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "_LayoutLogin";
}

<div class="c-login__form">
    <div class="c-login__header">
        <div class="c-sub">@Localizer["Title"]</div>
    </div>
    <div class="c-login__body">
        @if (!ViewContext.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="c-validation-errors"></div>
        }
        <form id="change-password" asp-controller="Manage" asp-action="ChangePassword" asp-route-returnurl="@Model.ReturnUrl" method="post">
            <div class="c-form-group">
                <label asp-for="OldPassword">@Localizer["OldPassword"]</label>
                <input asp-for="OldPassword" />
                <span asp-validation-for="OldPassword" class="c-error"></span>
            </div>
            <div class="c-form-group">
                <label asp-for="NewPassword">@Localizer["NewPassword"]</label>
                <input asp-for="NewPassword" />
                <span asp-validation-for="NewPassword" class="c-error"></span>
            </div>
            <div class="c-form-group">
                <label asp-for="ConfirmPassword">@Localizer["ConfirmPassword"]</label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="c-error"></span>
            </div>
        </form>
    </div>
    <div class="c-login__footer">
        <button type="submit" form="change-password" class="c-button">@Localizer["Update"]</button>
    </div>
</div>
