@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.STS.Identity.Configuration.Interfaces
@inject IViewLocalizer Localizer
@inject IRootConfiguration RootConfiguration
@model Skoruba.IdentityServer4.STS.Identity.ViewModels.Account.LoggedOutViewModel

@{
    Layout = "_LayoutLogin";
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="c-login">
    <div class="c-login__form">
        <div class="c-login__header">
            <h1>@RootConfiguration.AdminConfiguration.PageTitle</h1>
            <div class="c-sub">@Localizer["Title"]</div>
        </div>
        <div class="c-login__body">
            @Localizer["Click"] <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">@Localizer["Here"]</a> @Localizer["Return"]
            <span>@Model.ClientName</span>.
        </div>
    </div>
</div>