@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.STS.Identity.Configuration.Interfaces
@using Skoruba.IdentityServer4.STS.Identity.Helpers.Localization
@inject IViewLocalizer Localizer
@model Skoruba.IdentityServer4.STS.Identity.ViewModels.Account.LoginViewModel
@inject IRootConfiguration RootConfiguration

@{
    Layout = "_LayoutLogin";
}

<div class="c-login__form">
    <div class="c-login__header">
        <div class="c-sub">@Localizer["LoginMessage"]</div>
    </div>
    <div class="c-login__body">
        @if (!ViewContext.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="c-validation-errors"></div>
        }
        <form id="login-form" asp-route="Login" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="c-form-group">
                <label for="username">Username</label>
                <input type="text" id="username" asp-for="Username" placeholder="@Localizer[LoginPolicyResolutionLocalizer.GetUserNameLocalizationKey(Model.LoginResolutionPolicy)]" aria-label="Username" />
            </div>
            <div class="c-form-group">
                <label for="password">Password</label>
                <input type="password" id="password" asp-for="Password" placeholder="@Localizer["Password"]" aria-label="Password" />
            </div>
            @if (Model.AllowRememberLogin)
            {
                <div class="c-form-group c-checkbox">
                    <input type="checkbox" id="remember-me" asp-for="RememberLogin" />
                    <label for="remember-me">@Localizer["Remember"]</label>
                </div>
            }
        </form>
        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="c-external-login">
                <h2>@Localizer["ExternalLogin"]</h2>
                <div>
                    @foreach (var provider in Model.VisibleExternalProviders)
                    {
                        <a asp-action="ExternalLogin"
                           asp-route-provider="@provider.AuthenticationScheme"
                           asp-route-returnUrl="@Model.ReturnUrl" class="c-button">@provider.DisplayName</a>
                    }

                </div>
            </div>
        }
    </div>
    <div class="c-login__footer">
        <a class="c-button" asp-action="ForgotPassword" asp-controller="Account">@Localizer["Forgot"]</a>
        <button class="c-button" name="button" form="login-form" value="login">@Localizer["Login"]</button>
    </div>
</div>