@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Identity.Dtos.Identity.UserOrganizationTreatmentTypeDto
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["PageTitle"];
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Identity" asp-action="Users">@Localizer["NavigationUsers"]</a></li>
                <li class="breadcrumb-item"><a asp-controller="Identity" asp-action="UserProfile" asp-route-id="@Model.UserId">@Model.UserName</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Organization Treatment Types</li>
            </ol>
        </nav>
    </div>

    <div class="col-12">
        <h2>User Organization Treatment Types</h2>
    </div>
</div>

<form id="organization-type-form" asp-controller="Identity" asp-action="UserOrganizationTreatmentTypes" Method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <!--Hidden -->
    <input type="hidden" asp-for="UserId" />

    <div class="card mt-3">
        <h5 class="card-header">User Organization Treatment Types</h5>
        <div class="card-body">
            <strong>Assign new Organization Treatment Type</strong>
            <div class="d-flex flex-row">
                <select asp-for="NewOrganizationTreatmentTypeId" asp-items="@(new SelectList(Model.OrganizationTreatmentTypes, "Id", "Text"))" class="form-control single-select"></select>
                <button style="min-width:200px" type="submit" class="btn btn-primary"><span class="oi oi-plus mr-2"></span> Add Treatment Type</button>
            </div>
        </div>
    </div>
</form>

<!-- SECOND FORM: OVERVIEW (AND DELETE) EXISTING USER ORGANIZATION TREATMENT TYPES -->
<div class="card mt-3">
    <div class="card-body">
        @for (int i = 0; i < Model.AssignedOrganizationTreatmentTypes.Count(); i++)
        {
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="AssignedOrganizationTreatmentTypes[i].OrganizationTreatmentTypeId" />
            <div class="d-flex flex-row align-items-center mt-3">
                <strong style="min-width:150px">@Model.AssignedOrganizationTreatmentTypes[i].Name (@Model.AssignedOrganizationTreatmentTypes[i].OrganizationCode)</strong>
                <a class="btn btn-danger ml-3" asp-action="DeleteUserOrganizationTreatmentType" asp-route-userId="@Model.UserId" asp-route-organizationTreatmentTypeId="@Model.AssignedOrganizationTreatmentTypes[i].OrganizationTreatmentTypeId"><span class="oi oi-x"></span></a>
            </div>
        }
    </div>
</div>

@section scripts
    {
    <script type="text/javascript">
        $(function () {
            $('#logoutend-picker').datetimepicker();
        });
    </script>
}